<!DOCTYPE html>
<html>
<head>
  <title>Willkommen auf Kosten Los!</title>
  <link href="{{context}}/css/bootstrap.css" rel="stylesheet"></link>
  <link href="{{context}}/css/bootstrap-responsive.css" rel="stylesheet"></link>
  <link href="{{context}}/css/datetimepicker.css" rel="stylesheet"></link>
  <link href="{{context}}/css/style.css" rel="stylesheet"></link>
  <script type="text/javascript">
  var context = "{{context}}";
  </script>
</head>
<body>
  <div id="wrap">
    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <ul class="nav">
          <li><a href="{{context}}/">Home</a></li>
        </ul>
      </div>
    </div>
    <div class="container">

{% block content %}

{% endblock %}

    </div>
    <div id="push"></div>
  </div>

<script src="{{context}}/js/jquery-1.9.1.js"></script>
<script src="{{context}}/js/rx.modern.js"></script>
<script src="{{context}}/js/rx.binding.js"></script>
<script src="{{context}}/js/rx.jquery.js"></script>
<script src="{{context}}/js/bootstrap.js"></script>
<script src="{{context}}/js/bootstrap-datetimepicker.js"></script>
<script src="{{context}}/js/layout.js"></script>
<script src="{{context}}/js/underscore-min.js"></script>
<script src="{{context}}/js/main.js"></script>

</body>
</html>
